.example {
    background-color: #f2f2f2;
}
.example__title {
    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase;
}
.example__description {
    font-family: Arial, sans-serif;
}
.example__stats {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
}
.example__legend{
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-transform: none;
}
.example__text {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}
.slider__toggle {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}
