.example {
  width: 100%;
  background-color: #f2f2f2;
}

.example__wrapper {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.example__title {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  text-transform: none;
  display: flex;
  padding-top: 18px;
}

.example__description {
  box-sizing: border-box;
  margin: 0;
  padding-top: 22px;
  font-family: "Arial", sans-serif;
}

.example__stats {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.example__weight {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 120px;
  padding: 15px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  position: relative;
}
/*fieldset {
  position:relative;
  padding-top:50px;
}

legend {
  position:absolute;
  top:27px;
  left:18px;
}​*/
.example__legend {
  width: 60px;
  display: block;
  background-color: #f2f2f2;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: none;
  margin-top: 27px;
  position: absolute;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.example__text {
  padding-top: 10px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: #ffffff;
  }

  .example__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 220px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
  }

  .example__info {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
  }

  .example__weight {
    width: 160px;
  }

  .example__legend {
    font-size: 14px;
    line-height: 14px;
    margin-top: 40px;
    width: 135px;
    background-color: #ffffff;
  }

  .example__stats {
    font-size: 30px;
    line-height: 37px;
    width: 50%;
  }

  .example__text {
    display: block;
    padding-top: 40px;
    width: 190px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .example {
    position: relative;
  }

  .example__color {
    background-color: #f2f2f2;
  }

  .example__positioner {
    width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f2f2f2;
  }

  .example__wrapper {
    width: 650px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  .example__weight {
    width: 160px;
  }

  .example__wrap-text {
    width: 100%;
  }

  .example__description {
    width: 475px;
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
  }

  .example__info {
    display: block;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 0;
    padding-left: 40px;
    padding-right: 40px;
  }

  .example__wrap-title {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .example__title {
    width: 1300px;
    padding-top: 60px;
    padding-bottom: 75px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .example__text {
    width: 330px;
    text-align: center;
    margin-left: 0;
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
  }

  .example__legend {
    background-color: #f2f2f2;
    margin-top: 45px;
  }

  .example__stats {
    width: 365px;
  }
}
