.form {
  width: 100%;
}

.form__wrapper {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.form__name {
  font-weight: 400;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 36px;
  line-height: 60px;
}

.form__description {
  margin: 0;
  padding-bottom: 40px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__block {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  padding-bottom: 15px;
}

.form__title {
  padding-right: 10px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__text {
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__checkbox-label {
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.list__item {
  padding-bottom: 20px;
}

.form__button {
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  border: none;
  text-align: center;
  display: block;
  width: 280px;
  height: 40px;
  background-color: #63a73a;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__comment {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form__headline {
  font-weight: 400;
  margin: 0;
  padding-bottom: 30px;
  padding-top: 30px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.form__legend {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.form__column {
  padding: 0;
  border: 0 none;
}

.form__email {
  position: absolute;
  top: 13px;
  right: 10px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}

.form__phone {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}

.form__list {
  padding-top: 20px;
  margin: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
  margin-bottom: 10px;
  list-style: none;
}

.form__list--program {
  border: 1px solid #e6e6e6;
}

.form__item {
  padding-bottom: 20px;
}

.form__item input[type="checkbox"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  /*-webkit-clip-path: inset(100%);*/

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: @tablet-width) {
  .form__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .form__description {
    width: 350px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__name {
    font-size: 60px;
    line-height: 60px;
  }

  .form__title {
    font-size: 20px;
    line-height: 20px;
  }

  .form__text {
    font-size: 20px;
    line-height: 20px;
  }

  .form__checkbox-label {
    font-size: 20px;
    line-height: 20px;
  }

  .form__comment {
    flex-grow: 1;
    font-size: 20px;
    line-height: 20px;
  }

  .form__headline {
    font-size: 36px;
    line-height: 36px;
  }

  .form__legend {
    font-size: 16px;
    line-height: 16px;
  }

  .form__button {
    width: 283px;
    height: 52px;
    font-size: 20px;
    line-height: 20px;
  }

  .form__positioner {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    padding-right: 35px;
  }

  .form__list--program {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 5px;
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
