.form__name {
    font-size: 36px;
    line-height: 60px;
}
.form__description {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.form__title {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}
.form__text {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}
.form__checkbox-label {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}
.form__button {
    font-family: 'Oswald', Arial, sans-serif;
    color: #ffffff;
    border: none;
    text-align: center;
    display: block;
    width:280px;
    height:40px;
    background-color:#63a73a;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}
.form__comment {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}
.form__headline {
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 24px;
    line-height: 24px;
}
.form__legend {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
}
