.header {
    background-color: #ffffff;
    color: #444444;
}
.navigation {
    text-transform: uppercase;
    background-color: #63a73a;
    color: #ffffff;
}
.site-list__link {
    color: #ffffff;
}

