.intro {
  background-color: #63a73a;
  color: #ffffff;
  background-image: url("..index-background-mobile@1x.jpg");
}

.intro__slogan {
  font-size: 36px;
  line-height: 36px;
}

.intro__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.intro__link {
  background-color: #63a73a;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
}
