.programs__item {
  background-color: #f2f2f2;
  margin: 10px 20px;
}

.programs__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 38px;
}

.programs__text {
  font-family: "Arial", sans-serif;
}

.programs__catalog {
  text-transform: uppercase;
  color: #444444;
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .programs__list {
    display: flex;
    flex-direction: column;
  }

  .programs__item {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .programs__list {
    flex-direction: row;
  }

  .programs__item {
    margin: 40px;
  }
}
