.site-list {
  display: flex;
  flex-direction: column;
}

.site-list__link {
  color: #111111;
  padding: 5px;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ffffff;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}


.site-list a[href] {
  &:hover {
    background-color: #63a73a;
    border-top-color: #63a73a;
  }

  &:active {
    color: #ffffff;
    background-color: #63a73a;
    border-top-color: #63a73a;
  }
}

@media (min-width: @tablet-width) {
  .site-list__link {
    font-size: 18px;
    line-height: 25px;
    color: #222222;
    border: none;
    padding: 0;
    background: none;
    padding-bottom: 7px;
  }

  .site-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .site-list__item {
    padding: 10px 19px;

    &:last-child {
      margin-right: 0;
    }
  }

  .site-list__link--active {
    border-bottom: 2px solid #63a73a;
  }

  .site-list__item a[href] {
    &:hover {
      background-color: #ffffff;
      opacity: 0.6;
    }

    &:active {
      background-color: #ffffff;
      color: #222222;
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list__link {
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
    padding-bottom: 7px;
    background-color: transparent;

    &--active {
      border-bottom: 2px solid #ffffff;
    }
  }

  .site-list__link--color.site-list__link--active {
    border-bottom: 2px solid #63a73a;
  }

  .site-list__link--color {
    color: #000000;
  }

  .site-list__item {
    padding-top: 22px;
    margin-right: 0;
    color: #ffffff;
    padding-right: 19px;
    padding-left: 19px;

    &--active::after {
      right: 30px;
      left: 30px;
    }
  }

  .site-list__item .site-list__link[href] {
    &:hover {
      background-color: transparent;
    }

    &:active {
      background-color: #63a73a;
    }
  }

  .site-list__item .site-list__link--color[href]:active {
    color: #000000;
    background-color: transparent;
  }
}
