.slider__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.slider__toggle {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.slider__image {
  display: block;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .slider {
    background-color: #f2f2f2;
  }

  .slider__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: @desktop-width) {
  .slider__wrapper {
    width: 1300px;
  }
}
